* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 15px;
  text-align:center ;

}
  
div#container {
  background-color:gray;
  position: relative;
  margin-top: 30px;
}
p {
  border: 1px solid black;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  text-align:right ;

}
.block,
p1 {
  display: inline-block;
  border: 2px solid black;
  padding: .10em;
  background-color:magenta;
  width: 90px;
  height: 30px;
  text-align:center;
  
}
.block2,
p2 {
  display: inline-block;
  border: 2px solid black;
  padding: .10em;
  background-color:red;
  width: 90px;
  height: 30px;
  text-align:center;
  color: white;
}
.block3,
p3 {
  display: inline-block;
  border: 2px solid black;
  padding: .10em;
  background-color:yellow;
  width: 90px;
  height:30px;
  text-align:center;
}
#p1 {
  
  position:relative;
  
  
  
}
#p2 {
  position: relative;
 
}
#p3 {
 
  position: relative;
 

}



}p11 {
  
  text-align: left;
  
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 29%;
    margin-left: 25px;
    margin-right:20px;
    margin-top: 5%;

  }
  .col-lg-4 {
    width: 33.33%;
    
    
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}